<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menuSuperior">
    <div class="container-fluid">
        
        <a class="navbar-brand">
            <img th:src="@{/images/logo-carzone.png}" alt="Logo CarZone" style="height: 30px;" class="d-inline-block align-text-top">
            CarZone
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/marcas}">Marcas</a>
                </li>
                
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/coches}">Coches</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/citas}">Citas</a>
                </li>
                
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/comparativas}">Comparativas</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/concesionarios}">Concesionarios</a>
                </li>
                
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/financiaciones}">Financiaciones</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/roles}">Roles</a>
                </li>
                
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/servicios}">Servicios</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>