<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listado de Coches</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div th:replace="fragments/menu :: menuSuperior"></div>

    <div class="container mt-4">

        <div th:fragment="alertas">
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            <div th:if="${warning}" class="alert alert-warning" role="alert">
                <span th:text="${warning}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>

        <h1>Lista de Coches</h1>
        <a th:href="@{/coches/nuevo}" class="btn btn-primary mb-3">Crear Coche</a>
        <a th:href="@{/coches/busquedaAvanzada}" class="btn btn-secondary mb-3">Busqueda Avanzada</a>
        <a th:href="@{/coches/estadisticas}" class="btn btn-primary mb-3">Estadisticas</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a th:href="@{/coches(size=${coches.size}, page=${coches.number}, sort='modelo', direction=${coches.sort.getOrderFor('modelo')?.direction == 'ASC' ? 'DESC' : 'ASC'})}">Modelo</a>
                    </th>
                    <th>Marca</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Combustible</th>
                    <th>Precio</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                    <th>Desasociar</th>
                    <th>Asociar</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="coche : ${coches}">
                    <td th:text="${coche.modelo}"></td>
                    <td th:if="${coche.marca != null}" th:text="${coche.marca.nombreMarca}"></td>
                    <td th:if="${coche.marca == null}">Sin marca</td>
                    <td th:text="${coche.anio}"></td>
                    <td th:text="${coche.color}"></td>
                    <td th:text="${coche.tipoCombustible}"></td>
                    <td th:text="${#numbers.formatDecimal(coche.precio, 0, 'POINT', 2, 'COMMA')} + ' €'"></td>

                    <td>
                        <a th:href="@{/coches/eliminar/{id}(id=${coche.id})}" class="btn btn-danger btn-sm"
                            data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" th:data-id="${coche.id}">Eliminar
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/coches/editar/{id}(id=${coche.id})}" class="btn btn-secondary btn-sm">
                            Modificar
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/coches/desasociar/{id}(id=${coche.id})}" class="btn btn-warning btn-sm">
                            Desasociar
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/coches/asociar/{id}(id=${coche.id})}" class="btn btn-info btn-sm">
                            Asociar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Navegación de páginas" th:if="${coches.totalPages > 0}"
            th:with="currentSort=${coches.sort.isSorted() ? coches.sort.get().toList().get(0).property + ',' + coches.sort.get().toList().get(0).direction : 'modelo,asc'}">
            <ul class="pagination justify-content-center">
                
                <li class="page-item" th:classappend="${coches.hasPrevious() ? '' : 'disabled'}">
                    <a th:href="@{/coches(
                            page=${coches.number - 1}, 
                            size=${coches.size}, 
                            sort=${currentSort} 
                        )}" 
                        class="page-link">Anterior</a>
                </li>
                
                <li class="page-item" th:each="i : ${#numbers.sequence(0, coches.totalPages - 1)}" 
                    th:classappend="${i == coches.number ? 'active' : ''}">
                    <a th:href="@{/coches(
                            page=${i}, 
                            size=${coches.size}, 
                            sort=${currentSort} 
                        )}" 
                        class="page-link" th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${coches.hasNext() ? '' : 'disabled'}">
                    <a th:href="@{/coches(
                            page=${coches.number + 1}, 
                            size=${coches.size}, 
                            sort=${currentSort} 
                        )}" 
                        class="page-link">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el Coche con ID: <strong id="entidadId"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="#" id="confirmDeleteButton" class="btn btn-danger">Eliminar Coche</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>
        let confirmDeleteModal = document.getElementById('confirmDeleteModal');

        confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let entidadId = button.getAttribute('data-id');

            let modalEntidadId = confirmDeleteModal.querySelector('#entidadId');
            let confirmDeleteButton = confirmDeleteModal.querySelector('#confirmDeleteButton');

            modalEntidadId.textContent = entidadId;
            confirmDeleteButton.href = '/coches/eliminar/' + entidadId;
        });
    </script>
</body>

</html>